{% block header%}
<div >
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">Python 空间</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
            <li>
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="站内文章">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
              </form>
          </li>
          {% if user.is_authenticated %}
            <li class="dropdown"><img src="/../media/{{ userinfo.avatar }}/" alt="头像" width="50px" height="50px"> </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  {{ user.username }} <span class="caret"></span></a>
              <ul class="dropdown-menu">

                  <li><a href="/home/{{ userinfo.id }}/">我的主页</a></li>
                <li><a href="/blog/{{ userinfo.bloginfo.blogname }}/">我的博客</a></li>
                <li><a href="#">我的深度</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout/">退出登录</a></li>
              </ul>
        </li>
          {% else %}
          <li><a href="/login/">登录</a></li>
          <li><a href="/register/">注册</a></li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>
</div>
{% endblock %}