{% extends 'blog/utils-html/model.html' %}

 {% block html %}


    <div class="jumbotron" style="background-image: url(/static/images/header.jpg);background-position:center;height: 250px"></div>

    <div class="col-lg-2">
        <div class="panel panel-default">
          <div class="panel-heading">内容分区</div>
          <ul class="list-group">
              {% for c in category_list %}
                  {% if c.0 is not None %}
                   <li class="list-group-item">{{ c.0}}<span class="badge">{{ c.1 }}</span></li>
                  {% endif %}
              {% endfor %}
          </ul>
        </div>
    </div>
    <div class="col-lg-8">
    <ul class="nav nav-pills ">
      <li role="presentation"><a href="#">最新博客</a></li>
      <li role="presentation"><a href="#">最新新闻</a></li>
      <li role="presentation"><a href="#">深度阅读</a></li>
    </ul>
        <div class="lunbo">
            <div class="img">
                <img class="lunbo-img" src="/static/images/1.jpg" style="display: block">
                <img class="lunbo-img" src="/static/images/2.jpg">
                <img class="lunbo-img" src="/static/images/3.jpg">
                <img class="lunbo-img" src="/static/images/4.jpg">
                <img class="lunbo-img" src="/static/images/5.jpg">
                <img class="lunbo-img" src="/static/images/6.jpg">
            </div>
            <div class="bottom-icon">
                <ul>
                    <li class="lunbo-foot" style="background: white"><a href="javascript:"></a> </li>
                    <li class="lunbo-foot"><a href="javascript:"></a></li>
                    <li class="lunbo-foot"><a href="javascript:"></a></li>
                    <li class="lunbo-foot"><a href="javascript:"></a></li>
                    <li class="lunbo-foot"><a href="javascript:"></a></li>
                    <li class="lunbo-foot"><a href="javascript:"></a></li>
                </ul>
                </div>
        </div>



        {% for obj in data %}
        <div style="width: 100%;margin-bottom: 50px;border-bottom:gainsboro 2px solid ">
            <div style="width: 100%;height: 30px">
                <a href="/blog/{{ obj.blog.blogname }}/{{ obj.id }}/"><h3>{{ obj.title }} <span class="label label-default">{{ obj.category.title }}</span></h3></a><br><br>
            </div>
            <div style="width: 100%;height: 120px;margin-top: 30px">
                <div style="float: left;margin-right: 20px">
                <a href="/home/{{ obj.id }}/">
                    {% if obj.blog.user.avatar %}
                    <img src="/../media/{{ obj.blog.user.avatar }}" style="width: 120px;height: 120px;border-radius: 30%">
                    {% else %}
                    <img src="/static/images/avatar.png" style="width: 120px;height: 120px;border-radius: 30%">
                    {% endif %}
                </a></div>
                <div>
               <span style="margin-left: 20px">摘要：{{ obj.summary }}</span>
                </div>
            </div>
            <ul class="nav nav-pills" style="margin: 10px 0">
                <li role="presentation" ><a href="#" title="赞"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><span class="badge">{{ obj.up_count }}</span></a></li>
                <li role="presentation" ><a href="#" title="踩"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span><span class="badge">{{ obj.down_count }}</span></a></li>
                <li role="presentation" ><a href="#" title="点击量"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><span class="badge">{{ obj.read_count }}</span></a></li>
                <li role="presentation" ><a href="#" title="评论数"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><span class="badge">{{ obj.comment_count }}</span></a></li>
                <li role="presentation" ><a href="#" title="发表时间"><span class="glyphicon glyphicon-time" aria-hidden="true"></span><span class="badge">{{ obj.create_time }}</span></a></li>
            </ul>

        </div>
        {% endfor %}

    </div>
    <div class="col-lg-2">
        <div class="panel panel-default">
          <div class="panel-heading">最热文章推荐</div>
          <ul class="list-group">
            {% for c in hot_article %}
                <li class="list-group-item"><a href="/blog/{{ c.blog.blogname }}/{{ c.id }}/">{{ c.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">博客排行榜</div>
          <ul class="list-group">
              {% for c in hot_blog %}
                  <li class="list-group-item"><a href="/blog/{{ c.blogname }}/">{{ c.blogname }}</a> </li>
              {% endfor %}
          </ul>
        </div>
    </div>



{% endblock %}
{% block js %}

    <script>
        intervalID=0;
 function lunbo (id) {
    var trueindex =id||0;
    intervalID=setInterval(function () {
        var lunbo_img =$(".lunbo-img");
        lunbo_img.eq(trueindex).css("display","none");
        var lunbo_foot = $(".lunbo-foot");
        lunbo_foot.eq(trueindex).css("background-color","rgba(0,0,0,0.6)");
        if(trueindex ===5){trueindex=0}
        else {trueindex++}
        lunbo_img.eq(trueindex).css("display","block");
        lunbo_foot.eq(trueindex).css("background-color","white");
    },3000)
}
lunbo();
$(".lunbo-foot").hover(function (){
    clearInterval(intervalID);
    $(".lunbo-foot").css('background-color','rgba(0,0,0,0.6)');
    $(".lunbo .lunbo-img").css("display",'none');
    $(this).css("background-color","white");
    $(".lunbo-img").eq($(this).index()).css("display","block");
},function () {
    lunbo($(this).index())
});

</script>

{% endblock %}

