<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Python 空间注册</title>
<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
<link rel="icon" href="/static/images/logo.jpg">
<script src="/static/js/html5.js"></script>
</head>
<body>
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<div class="logo_box">
						<form action="" name="f" method="POST" id="form" autocomplete="off">
                            {% csrf_token %}
                            <h3>欢迎注册Python空间</h3>
                            {{ form.username.errors.0 }}
							<div class="input_outer">
								<span class="u_user"></span>
                                <input style="display:none" type="text" name="fakeusernameremembered"/>
                                {{ form.username }}{{ msg }}
							</div>
                            {{ form.password.errors.0 }}
							<div class="input_outer">
								<span class="us_uer"></span>
                                <input style="display:none" type="password" name="fakepasswordremembered"/>
								{{ form.password }}
							</div>
                            {{ form.password2.errors.0 }}
							<div class="input_outer">
								<span class="us_uer"></span>
                                <input style="display:none" type="password" name="fakepasswordremembered"/>
								{{ form.password2 }}
							</div>
                            {{ form.piccode.errors.0 }}
                            <div class="input_outer" style="position: relative">
                                <span class="u_code"></span>
                                <input style="display:none" type="text" name="fakeusernameremembered"/>
								{{ form.piccode }}

                                <img id='piccode' src="/check_code/" title="点击更新" onclick="codeupdate()">
							</div>

                            <div class="mb2"><a href="javascript:" class="act-but submit" onclick="document.getElementById('form').submit()" style="color: #FFFFFF">立即注册</a></div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="/static/js/TweenLite.min.js"></script>
		<script src="/static/js/EasePack.min.js"></script>
		<script src="/static/js/rAF.js"></script>
		<script src="/static/js/demo-1.js"></script>
        <script>
        function codeupdate() {
            document.getElementById('piccode').src=document.getElementById('piccode').src +'?'
        }

    </script>
	</body>
</html>